<% if current_user.requests.length != 0 %>
<div>
    <h3 style="text-align: center;">Pending Requests:</h3>

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <% current_user.requests.each.with_index do |request, i| %>
                <td style="padding:15px"> 

                    <form action="/answer_request" method="POST" id="accept">
                            <input type="hidden" name="response" value="accept">
                            <input type="hidden" name="requester_id" value="<%= request.requester_id %>">
                    </form>
                    <form action="/answer_request" method="POST" id="decline">
                            <input type="hidden" name="response" value="decline">
                            <input type="hidden" name="requester_id" value="<%= request.requester_id %>">
                    </form>

                    <p><%= User.find_by(id: request.requester_id).username %>
                        
                        <button type="submit" form="decline" style="padding: 1px; float: right; margin-left: 5px;" title="Decline Request">Decline</button>
                        <button type="submit" form="accept" style="padding: 1px; float: right; margin-left: 15px;" title="Accept Request">Accept</button>
                        
                    </p>
                </td>
                    <% if i % 4 == 0%>
                        </tr><tr>
                    <% end %>
            <% end %>
        </tr>
    </table>

</div>

<% end %>

<div class="float-container" style="display: flex; text-align:center">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <h2>Your Friends</h2>


        <div class="float-container-left">

            <div class="float-child-left" style="width: 50%; float: left;">
                <% @friends = [] %>
        <% current_user.friends.each{|friend| @friends << User.find_by(id: friend.friend_id)} %>
        <% @friends.sort{|a, b| a.username <=> b.username}.each do |friend| %>
            <p>
                <%= friend.username %>
            </p>
        <% end %>
            </div>
  
            <div class="float-child-left" style="width: 50%; float: left;">
                 <% @friends = [] %>
        <% current_user.friends.each{|friend| @friends << User.find_by(id: friend.friend_id)} %>
        <% @friends.sort{|a, b| a.username <=> b.username}.each do |friend| %>
            <form action="/friends_collection" method="POST" id="<%= friend.username %>_collection">
                <input type="hidden" name="id" value="<%= friend.id %>">
            </form>
            <p style="float: left;">
                <button type="submit" form="<%= friend.username %>_collection" style="padding: 2px; float: left; margin-right: 15px;" title="View <%= friend.username %>'s' Collection">View <%= friend.username %>'s Collection</button>
            </p>
        <% end %>
            </div>
</div>
        
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <h2>Add Friends</h2>

            <% User.all.sort{|a, b| a.username <=> b.username}.each do |user| %>
                <% if user.username != current_user.username && !current_user.requests.find_by(requester_id: user.id) && !current_user.friends.find_by(friend_id: user.id)%>
                    <form id="<%= user.username %>_request" action="/send_request" method="POST">
                        <input type="hidden" name="username" value="<%= user.username %>">
                    </form>

                        <p style="text-align: left;">
                            <%= user.username %>

                            <% if !Request.all.find{ |request| request.user_id == user.id && request.requester_id == current_user.id } %>
                                <button type="submit" form="<%= user.username %>_request" style="padding: 1px; float: right;" title="Add <%= user.username %> as a friend">Send Request</button>
                            <% else %>
                                <button style="padding: 1px; float: right;" title="Request Pending">Request Pending</button>
                            <% end %>
                        </p>
                            
                <% end%>
                    
            <% end %>
    </div>
  </div>
</div>