<h1 style="text-align:center"><%= @playbill.title %></h1>
<h5 style="text-align:center">(from <%= @friend.username %>'s collection)</h5>
<br>

<div class="float-container" style="display: flex;">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <img src="<%= @playbill.image_url %>" width="400px">
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <h2>Performance Date: 
            <% if @playbill.performance_date != "" %>
            <%= Time.parse(@playbill.performance_date).strftime("%B %d, %Y") %>
            <% else %>
            Once Upon a Time...
            <% end %>
        </h2>

        <img src= "/images/stars/<%= @playbill.rating.to_s %>_stars.png" style="height:40px">

        <h2><%= @friend.username%>'s Review:
        </h2>
        
        <p><%= @playbill.review %></p>

   
    </div>
  </div>
</div>
<br>
<form action="/friends_collection" method="POST" id="<%= @friend.username %>_collection">
                <input type="hidden" name="id" value="<%= @friend.id %>">
            </form>
            <p style="text-align: center;">
                <button type="submit" form="<%= @friend.username %>_collection" style="padding: 2px;" title="<%= @friend.username %>'s' Collection">Return To <%= @friend.username %>'s Collection</button>
            </p>