<h1 style="text-align: center;"><%= @current_user.username %>'s Playbill Vault:</h1>

<div class="topnav" style="text-align:center">
  <a class="active" href="/playbills" style="padding:5px">My Collection</a>
  <a href="/playbills/new" style="padding:5px">Add New Playbill</a>
  <a href="/favorites" style="padding:5px">Favorites</a>
  <a href="/friends" style="padding:5px">Friends</a>
  <a href="/logout" style="padding:5px">Log Out</a>
</div>

<% if current_user.requests.length != 0 %>
<br>
<div>
    <h3 style="text-align: center;">Pending Requests:</h3>

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <% current_user.requests.each.with_index do |request, i| %>
                <td style="padding:15px"> 

                    <form action="/answer_request" method="POST" id="accept">
                            <input type="hidden" name="response" value="accept">
                            <input type="hidden" name="requester_id" value="<%= request.requester_id %>">
                    </form>
                    <form action="/answer_request" method="POST" id="decline">
                            <input type="hidden" name="response" value="decline">
                            <input type="hidden" name="requester_id" value="<%= request.requester_id %>">
                    </form>

                    <p><%= User.find_by(id: request.requester_id).username %>
                        
                        <button type="submit" form="decline" style="padding: 1px; float: right; margin-left: 5px;" title="Decline Request">Decline</button>
                        <button type="submit" form="accept" style="padding: 1px; float: right; margin-left: 15px;" title="Accept Request">Accept</button>
                        
                    </p>
                </td>
                    <% if i % 4 == 0%>
                        </tr><tr>
                    <% end %>
            <% end %>
        </tr>
    </table>

</div>

<% end %>

<div class="float-container" style="display: flex; text-align:center">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <h1>Your Friends</h1>
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <h1>Add Friends</h1>

            <% User.all.sort{|a, b| a.username <=> b.username}.each do |user| %>
                <% if user.username != current_user.username && !current_user.requests.find_by(requester_id: user.id) && !current_user.friends.find_by(friend_id: user.id)%>
                    <form id="<%= user.username %>_request" action="/send_request" method="POST">
                        <input type="hidden" name="username" value="<%= user.username %>">
                    </form>

                        <p style="text-align: left;">
                            <%= user.username %>

                            <% if !Request.all.find{ |request| request.user_id == user.id && request.requester_id == current_user.id } %>
                                <button type="submit" form="<%= user.username %>_request" style="padding: 1px; float: right;" title="Add <%= user.username %> as a friend">Send Request</button>
                            <% else %>
                                <button style="padding: 1px; float: right;" title="Request Pending">Request Pending</button>
                            <% end %>
                        </p>
                            
                <% end%>
                    
            <% end %>
    </div>
  </div>
</div>