<h1 style="text-align: center;"><%= @current_user.username %>'s Playbill Vault:</h1>

<div class="topnav" style="text-align:center">
  <a class="active" href="/playbills" style="padding:5px">My Collection</a>
  <a href="/playbills/new" style="padding:5px">Add New Playbill</a>
  <a href="/favorites" style="padding:5px">Favorites</a>
  <a href="/friends" style="padding:5px">Friends</a>
  <a href="/logout" style="padding:5px">Log Out</a>
</div>
<br>

<h1 style="text-align: center;"><u><%= @friend.username %>'s Collection</u></h1>
<table style="margin-left: auto; margin-right: auto;">
        <tr>
            <% @friend.playbills.each.with_index(1) do |playbill, i| %>
                <td style="padding:15px">
                    <form action="/friends_playbill" method="POST" id="playbill_<%= playbill.id%>">
                        <input type="hidden" name="id" value="<%= playbill.id %>">
                    </form>
                    <% if playbill.performance_date != "" %>
                    <p style="text-align:center"><%= Time.parse(playbill.performance_date).strftime("%B %d, %Y") %></p>
                    <% else %>
                    <p style="text-align:center">Once Upon a Time...</p>
                    <% end %>
                    <button type="submit" form="playbill_<%= playbill.id%>" title="<%= playbill.title %>" style="padding: 0; border: none; background: none;">
                        <img src="<%= playbill.image_url %>" width="150">
                    </button>
                    <div><img src = "/images/stars/<%= playbill.rating.to_s %>_stars.png" style="height:30px;"></div>
                </td>
                <% if i % 4 == 0%>
                    </tr><tr>
                    <% end %>
            <% end %>
        </tr>
</table>