<h1 style="text-align: center;"><%= @current_user.username %>'s Playbill Vault:</h1>

<div class="topnav" style="text-align:center">
  <a href="/playbills" style="padding:5px">My Collection</a>
  <a class="active" href="/playbills/new" style="padding:5px">Add New Playbill</a>
  <a href="/friends" style="padding:5px">Friends</a>
  <a href="/logout" style="padding:5px">Log Out</a>
</div>

<br>

<h1 style="text-align: center;">Tell us about the show:</h1>
    <br>

<% selected_show = Nokogiri::HTML(open("#{params[:show_url]}")) %>

<div class="float-container" style="display: flex;">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <img src="<%= selected_show.css("img")[3].attribute("src").text %>" width="400px">
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <form action="/playbills" method="POST" id="playbill_form">
            <p>
                <label for="title">Title:</label>
                <input id="title" type="text" name="title" value="<%= params[:title] %>" size="35">
            </p>

            <p>
                <input id="image_url" type="hidden" name="image_url" value="<%= selected_show.css("img")[3].attribute("src").text %>">
            </p>

            <p>
                <label for="performance_date">Performance Date:</label>
                <input id="performance_date" type="text" name="performance_date" placeholder="YYYY-MM-DD">
            </p>

            <p>
                <label for="rating">Star Rating:</label>
                <select id = "rating" name="rating">
                    <option value = "5">5</option>
                    <option value = "4">4</option>
                    <option value = "3">3</option>
                    <option value = "2">2</option>
                    <option value = "1">1</option>
                </select>
             </p>

             <p>
                <label for="favorite">Add To Favorites?</label>
                <select id = "favorite" name="favorite">
                    <option value = "false">No</option>
                    <option value = "true">Yes</option>
                </select>
             </p>
        </form>

        <p><label for="review">My Review:</label></p>
        <textarea id="review" name="review" form="playbill_form" cols="35" rows="27" placeholder="How was it...?"></textarea>

        <p><form id="submit_button">
            <input type="submit" form="playbill_form" value="Add To My Collection">
        </form></p>
    </div>
  </div>
  
</div>

<%# <input type="hidden" name="image_url" value="<%= selected_show.css("img")[3].attribute("src").text %>