<head>
    <link rel="stylesheet" href="/stylesheets/show.css" type="text/css">
</head>

<h1 style="text-align: center;">Update Playbill Info:</h1>

<br>

<div class="float-container" style="display: flex;">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <img src="<%= @playbill.image_url %>" width="400px">
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <form action="/playbills/<%= @playbill.id %>" method="POST" id="edit_playbill_form">
            <input type="hidden" name="_method" value="PATCH">
            <p>
                <label for="title">Title:</label>
                <input id="title" type="text" name="update[title]" value="<%= @playbill.title %>" size="35">
            </p>

            <p>
                <input id="image_url" type="hidden" name="update[image_url]" value="<%= @playbill.image_url %>">
            </p>
            
            <p>
                <label for="performance_date">Performance Date:</label>
                <input id="performance_date" type="date" name="update[performance_date]" value="<%= @playbill.performance_date %>" min="1950-01-01" max="2022-12-31">
            </p>

            <p>
                <label for="rating">Star Rating:</label>
                <select id = "rating" name="update[rating]" value="<%= @playbill.rating %>">
                    <option value = "5" <% if @playbill.rating == 5 %> selected <% end %>>5</option>
                    <option value = "4" <% if @playbill.rating == 4 %> selected <% end %>>4</option>
                    <option value = "3" <% if @playbill.rating == 3 %> selected <% end %>>3</option>
                    <option value = "2" <% if @playbill.rating == 2 %> selected <% end %>>2</option>
                    <option value = "1" <% if @playbill.rating == 1 %> selected <% end %>>1</option>
                </select>
             </p>

             <p>
                <label for="favorite">Add To Favorites?</label>
                <select id = "favorite" name="update[favorite]" value="<%= @playbill.favorite %>">
                    <option value = "false" <% if @playbill.favorite == false %> selected <% end %>>No</option>
                    <option value = "true" <% if @playbill.favorite == true %> selected <% end %>>Yes</option>
                </select>
             </p>
        </form>

        <p><label for="review">My Review:</label></p>
        <textarea id="review" name="update[review]" form="edit_playbill_form" cols="35" rows="27" placeholder="Update your review..."><%= @playbill.review %></textarea>
    </div>
  </div>
  
</div>
<br>

            <div class="bottom_nav">
              <button type="submit" form="edit_playbill_form">Update Playbill</button>
            </div>
