<table style="margin-left: auto; margin-right: auto;">
        <tr>
            <% @current_user.favorites.sort{|a, b| b.performance_date <=> a.performance_date }.each.with_index(1) do |playbill, i| %>
                <td style="padding:15px">
                    <% if playbill.performance_date != "" %>
                    <p style="text-align:center"><%= Time.parse(playbill.performance_date).strftime("%B %d, %Y") %></p>
                    <% else %>
                    <p style="text-align:center">Once Upon a Time...</p>
                    <% end %>
                    <a href="/playbills/<%= playbill.id %>" title="<%= playbill.title %>">
                        <img src="<%= playbill.image_url %>" width="150">
                    </a>
                    <div><img src = "/images/stars/<%= playbill.rating.to_s %>_stars.png" style="height:30px;"></div>
                </td>
                <% if i % 4 == 0%>
                    </tr><tr>
                    <% end %>
            <% end %>
        </tr>
</table>