<p>
        <form action="/playbills/search" method="POST">
            <label for="search">Search:</label>
            <input id="search" type="text" name="search" placeholder="Search again..." size="40">
            <input type="submit" value="Search">
        </form>
    </p>

<% search_results = Nokogiri::HTML(open("#{@search_results}")) %>
    <% if search_results.css("li.bsp-column-fifth").empty? %>
        <p>We're sorry, we couldn't find a Broadway show that matched. Please search again.</p>
    <% else %>
<p style="text-align: center">(click to select)</p>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <% search_results.css("li.bsp-column-fifth").each.with_index(1) do |box, i| %>
                <td style="padding:15px">
                    <% @title = box.css("div.bsp-list-promo-title a").text.strip %>
                    <form action="/playbills/new" method="POST">
                        <input type="hidden" name="image_title" value="<%= @title %>">
                        <input type="hidden" name="title" value="<%= @title[/\A.{#{@title.size-7}}/] %>">
                        <input type="hidden" name="show_url" value="https://playbill.com<%= box.css("a").attribute("href").text %>">
                        <button type="submit" style="padding: 0; border: none; background: none;">
                            <img src="<%=box.css("img").attribute("src").text%>" width="150" title="<%= @title %>">
                        </button>
                    </form>
                </td>
                <% if i % 4 == 0%>
                    </tr><tr>
                    <% end %>
            <% end %>
        </tr>
    </table>
    <% end %>