<head>
    <link rel="stylesheet" href="/stylesheets/show.css" type="text/css">
</head>

<h1 style="text-align:center"><%= @playbill.title %></h1>
<br>

<div class="float-container" style="display: flex;">

  <div class="float-child" style="flex: 1;">
    <div class="left">
        <img src="<%= @playbill.image_url %>" width="400px">
    </div>
  </div>
  
  <div class="float-child"  style="flex: 1;">
    <div class="right">
        <h2>Performance Date: 
            <% if @playbill.performance_date != "" %>
            <%= Time.parse(@playbill.performance_date).strftime("%B %d, %Y") %>
            <% else %>
            Once Upon a Time...
            <% end %>
        </h2>

        <img src= "/images/stars/<%= @playbill.rating.to_s %>_stars.png" style="height:40px">

        <h2>My Review:
        </h2>
        
        <p><%= @playbill.review %></p>

   
    </div>
  </div>
</div>

<br><br>

      <form method="POST" action="/playbills/<%= @playbill.id %>" id="delete">
        <input type="hidden" name="_method" value="DELETE">
      </form>

          <div class="bottom_nav">
              <a href="/playbills/<%= @playbill.id %>/edit"><button id="edit" type="submit">Edit Playbill</button></a>
              <button id="delete" type="submit" form="delete">Delete Playbill</button>
          </div>


      
